form {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
form input {
  flex: 1;
  padding: 16px;
  border: 2px solid var(--cream);
  border-radius: 10px;
  color: var(--text);
  outline: none;
}
form button {
  padding: 16px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  color: var(--text);
  font-size: 30px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #add8e6;
  --secondaryBackground: rgb(23, 28, 72);
  --text: #000000;
  --cream: #ffc59f;
  --teal: #24feee;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
}

.container {
  background-color: #f3f3f3;
  margin: 50px 10px;
  max-width: 450px;
  border: 2px solid var(--cream);
  padding-bottom: 30px;
  border-radius: 9px;
}

.welcome-display {
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}
.welcome-display h1, .welcome-display p {
  margin: 0 24px;
}
.welcome-display img {
  width: 55%;
}
.welcome-display form {
  flex-direction: column;
  margin-top: 10px;
}
.welcome-display form input {
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}
.welcome-display form button {
  width: 100%;
  font-size: 1rem;
}
.welcome-display form button:hover {
  background-color: rgba(255, 197, 159, 0.6);
}

.section-display {
  display: none;
}
.section-display ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
}
.section-display ul li {
  list-style: none;
  cursor: pointer;
}
.section-display ul li:hover {
  background-color: var(--cream);
  border-radius: 10px;
}
.section-display ul li img {
  width: 45px;
  height: 45px;
}

.main-display {
  display: none;
}

.header {
  background-color: var(--cream);
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header h1 {
  padding: 0 10px;
  font-weight: 500;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  list-style: none;
  padding: 0 10px;
}

.task-item {
  width: 100%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--cream);
  justify-content: space-between;
  align-items: center;
}
.task-item input {
  width: 20px;
  height: 20px;
}
.task-item img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.task-test {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
}

@media screen and (min-width: 400px) {
  .container {
    margin: 50px auto;
  }
  body {
    background-color: #add8e6;
  }
}
